<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Custom CSS link -->
    <link rel="stylesheet" type="text/css" href="/css/addEmployee.css">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2" type="button" data-bs-toggle="collapse"
                data-bs-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active ">
                        <a class="nav-link" href="http://localhost:8080/owner/home/<%= id %>"><i
                                class="fa fa-house icon"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://localhost:8080/owner/viewSchedule/<%= id %>"
                            id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fa fa-calendar icon"></i> Schedule
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right" id="drop1"
                            aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="http://localhost:8080/owner/createSchedule/<%= id %>"><i
                                        class="fa-solid fa-calendar-plus icon"></i> Create
                                    Schedule</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/owner/editSchedule/<%= id %>"><i
                                        class="fa-solid fa-pen-to-square icon"></i> Edit
                                    Schedule</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/owner/viewSchedule/<%= id %>"><i
                                        class="fa fa-eye icon"></i> View Schedule</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/owner/ApproveTimeoff/<%= id %>"><i class="fas fa-arrow-right-arrow-left icon"></i> Approve Shift Change</a>
                    </li>
                    <li class="nav-item dropdown current">
                        <a class="nav-link dropdown-toggle" href="http://localhost:8080/owner/addEmployee/<%= id %>"
                            id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fa-solid fa-briefcase icon"></i>
                            Management </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right"
                            aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" id="cur"href="http://localhost:8080/owner/addEmployee/<%= id %>"><i
                                        class="fa-solid fa-user-plus icon"></i> Add Employee</a></li>
                            <li><a class="dropdown-item" id="curNei1" href="http://localhost:8080/owner/removeEmployee/<%= id %>"><i
                                        class="fa-solid fa-user-minus icon"></i> Remove Employee</a></li>
                            <li><a class="dropdown-item" id="curNei2" href="http://localhost:8080/owner/addManager/<%= id %>"><i
                                        class="fa-solid fa-user-plus icon"></i>
                                    Add Manager</a></li>
                            <li><a class="dropdown-item" id="curNei3" href="http://localhost:8080/owner/removeManager/<%= id %>"><i
                                        class="fa-solid fa-user-minus icon"></i> Remove Manager</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse w-25 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto buttons">
                    <li class="nav-item">
                        <form id="logoutform" method="post" action="/logout"></form>
                             <a class="nav-link" >   
                                 <button class="btn btn-sm btn-primary log-btn" type="submit" form="logoutform">Log Out</button>
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="container2">
        <div class="header">
            Add Employee
        </div>
        <form action="/addEmployee" method="post" class="form" id="form">
            <div class="row">
                <div class="col-md-6 control">
                    <label for="fName">First Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="First name" id="fName" name="fName">
                    </div>
                    <small>Error message</small>
                </div>
                <div class="col-md-6 control">
                    <label for="lName">Last Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Last name" id="lName" name="lName">
                    </div>
                    <small>Error message</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 control">
                    <label for="Address">Address</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control" name="address" id="address" placeholder="Address">
                    </div>
                    <small>Error message</small>
                </div>
                <div class="col-md-6 control">
                    <label for="phone">Phone Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="(xxx) xxx- xxx">
                    </div>
                    <small>Error message</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 control">
                    <label for="dob">Date of Birth</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <input type="date" class="form-control" name="dob" id="dob">
                    </div>
                    <small>Error message</small>
                </div>
                <div class="col-md-6 control">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <input type="email" name="email" id="email" class="form-control" placeholder="abc123@email.com">
                    </div>
                    <small>Error message</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 control">
                    <label for="bankAccount">Bank Account Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa-solid fa-building-columns"></i>
                            </div>
                        </div>
                        <input type="text" name="bankAccount" id="bankAccount" class="form-control">
                    </div>
                    <small>Error message</small>
                </div>
                <div class="col-md-6 control">
                    <label for="sinNumber">SIN Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa-regular fa-hashtag"></i>
                            </div>
                        </div>
                        <input type="text" name="sinNumber" id="sinNumber" class="form-control">
                    </div>
                    <small>Error message</small>
                </div>
            </div>
            <div class="row control">
                <div class="col-md-6 control">
                    <label for="avail" id="avail">Availability</label>
                    <div class="row control">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="monday">
                                <label for="monday" class="form-check-label">Monday</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select name="mon-options" id="mon-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="tuesday">
                                <label for="tuesday" class="form-check-label">Tuesday</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select name="tue-options" id="tue-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="wednesday">
                                <label for="wednesday" class="form-check-label">Wednesday</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select name="wed-options" id="wed-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="thursday">
                                <label for="thursday" class="form-check-label">Thursday</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select name="thurs-options" id="thurs-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="friday">
                                <label for="friday" class="form-check-label">Friday</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select name="fri-options" id="fri-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="saturday">
                                <label for="saturday" class="form-check-label">Saturday</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select name="sat-options" id="sat-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="sunday" value="sunday">
                                <label for="sunday" class="form-check-label">Sunday</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select name="sun-options" id="sun-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <small class="avail">Error message</small>
                </div>
                <div class="col-md-6 control">
                    <label for="wage">Wage (per hour)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa-solid fa-money-bill-1"></i>
                            </div>
                        </div>
                        <input type="text" name="wage" id="wage">
                    </div>
                    <small class="wage">Error message</small>
                </div>
            </div>
            <div class="cen">
                <button type="submit" id="subBut">Submit</button>
            </div>
        </form>
    </div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="icon-box">
                        <i class="fa-solid fa-circle-check" id="checkMark"></i>
                    </div>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true" id="closingBtn"
                        onclick="location.reload();"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-body text-center">
                    <h4>Successful!</h4>
                    <p class="text-center" id="test"></p>
                    <p class="text-center" id="test1"></p>
                    <p class="text-center" id="test2"></p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="copy-btn" onclick="copy()"><span id="copyTxt">Copy</span><i class="fa-solid fa-copy"></i></button>
                    <button type="button" class="btn btn-success btn-block" data-bs-dismiss="modal" onclick="location.reload();"><span>Ok</span><i class="fa-solid fa-check" id="okIcon"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Link for using Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- External JS file -->
    <script src="/js/addEmployee.js"></script>
</body>

</html>