<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Schedule</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Custom CSS link -->
    <link rel="stylesheet" type="text/css" href="/css/editSchedule.css">
</head>

<body onload="schedules()">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2" type="button" data-bs-toggle="collapse"
                data-bs-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:8080/owner/home/<%= id %>"><i
                                class="fa fa-house icon"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown current">
                        <a class="nav-link dropdown-toggle" href="http://localhost:8080/owner/viewSchedule/<%= id %>"
                            id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fa fa-calendar icon"></i> Schedule
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right" id="drop1"
                            aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="http://localhost:8080/owner/createSchedule/<%= id %>"
                                    id="curNei1"><i class="fa-solid fa-calendar-plus icon"></i> Create
                                    Schedule</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/owner/editSchedule/<%= id %>"
                                    id="cur"><i class="fa-solid fa-pen-to-square icon"></i> Edit
                                    Schedule</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/owner/viewSchedule/<%= id %>"
                                    id="curNei2"><i class="fa fa-eye icon"></i> View Schedule</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/owner/team/<%= id %>"><i
                                class="fa fa-user-group icon"></i> Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/owner/shiftChange/<%= id %>"><i class="fas fa-arrow-right-arrow-left icon"></i> Shift Change</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://localhost:8080/owner/addEmployee/<%= id %>"
                            id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fa-solid fa-briefcase icon"></i>
                            Management </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right"
                            aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="http://localhost:8080/owner/addEmployee/<%= id %>"><i
                                        class="fa-solid fa-user-plus icon"></i> Add Employee</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/owner/removeEmployee/<%= id %>"><i
                                        class="fa-solid fa-user-minus icon"></i> Remove Employee</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/owner/addManager/<%= id %>"><i
                                        class="fa-solid fa-user-plus icon"></i>
                                    Add Manager</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/owner/removeManager/<%= id %>"><i
                                        class="fa-solid fa-user-minus icon"></i> Remove Manager</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse w-25 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto buttons">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button class="btn btn-sm btn-primary prof-btn" type="submit">My Profile</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button class="btn btn-sm btn-primary log-btn" type="submit" onclick="location.href='/'">Log
                                Out</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>

        <label for="calendar">Select which week you would like to view a schedule for:</label>
        <select name="calendar" id="calendar"></select>
        <button onclick="display()">Submit</button>
        <br>
        <label for="nameslist">Name to add to schedule</label>
        <select name="nameslist" id="nameslist"></select>
        <button onclick="getAvailiblity()">Select to Add</button>

        <button onclick="add()">Add to Schedule</button>

    </div>

    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sunday</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <tr>
                <td><select id="sunday"></td>
                <td><select id="monday"></td>
                <td><select id="tuesday"></td>
                <td><select id="wednesday"></td>
                <td><select id="thursday"></td>
                <td><select id="friday"></td>
                <td><select id="saturday"></td>
            </tr>
            </tr>
        </tbody>
    </table>
    <br>

    <label for="name">Name</label>
    <select name="name" id="name"></select>


    <label for="day">Day</label>
    <select id="sday">
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
    </select>

    <label for="shift">Shift</label>
    <select id="shift">
        <option value="day">Day</option>
        <option value="night">Night</option>
        <option value="">No Shift</option>
    </select>


    <button onclick="edit()">Edit</button>
    <button onclick="finializeChanges()">Submit Changes</button>
    <br>
    <div>

        <table id="Schedule" class="table">
            <thead>
                <tr>
                    <th scope="col">Employees</th>
                    <th scope="col">Sunday</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Link for using Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script text="text/javascript">

        function add() {
            const schedulediv = document.getElementById("Schedule")

            let elementExists = !!document.getElementById(document.getElementById('nameslist').value)
            if (elementExists == false) {
                var new_row = document.createElement('tr')
                new_row.id = document.getElementById('nameslist').value;
                schedulediv.append(new_row)

            }
            else if (elementExists == true) {
                alert('This employee is already in the schedule')
                return
            }
            console.log(elementExists)


            let name = document.createElement('td')
            name.innerText = document.getElementById('nameslist').value

            let sunday = document.createElement('td')
            sunday.innerText = document.getElementById('sunday').value
            sunday.id = 'Sunday' + document.getElementById('nameslist').value

            let monday = document.createElement('td')
            monday.innerText = document.getElementById('monday').value
            monday.id = 'Monday' + document.getElementById('nameslist').value

            let tuesday = document.createElement('td')
            tuesday.innerText = document.getElementById('tuesday').value
            tuesday.id = 'Tuesday' + document.getElementById('nameslist').value

            let wednesday = document.createElement('td')
            wednesday.innerText = document.getElementById('wednesday').value
            wednesday.id = 'Wednesday' + document.getElementById('nameslist').value

            let thursday = document.createElement('td')
            thursday.innerText = document.getElementById('thursday').value
            thursday.id = 'Thursday' + document.getElementById('nameslist').value

            let friday = document.createElement('td')
            friday.innerText = document.getElementById('friday').value
            friday.id = 'Friday' + document.getElementById('nameslist').value

            let saturday = document.createElement('td')
            saturday.innerText = document.getElementById('saturday').value
            saturday.id = 'Saturday' + document.getElementById('nameslist').value


            let add = document.getElementById(document.getElementById('nameslist').value)
            add.append(name, sunday, monday, tuesday, wednesday, thursday, friday, saturday)


            var names_on_schedule = document.getElementById("name")
            var select_list = document.createElement('option')
            select_list.innerText = document.getElementById('nameslist').value
            select_list.value = document.getElementById('nameslist').value
            names_on_schedule.append(select_list)
        }

        function display() {

            const schedulediv = document.getElementById("Schedule")
            let selected_date = document.getElementById("calendar").value
            let names_on_schedule = document.getElementById("name")
            console.log(selected_date)


            let shifts = [];
            axios.post('/getSchedule', { date: selected_date })
                .then((result) => {
                    // console.log(result.data);
                    shifts = result.data;
                    console.log(shifts)

                    for (var i = 0; i < shifts.length; i++) {
                        var new_row = document.createElement('tr')
                        new_row.id = i;
                        schedulediv.append(new_row)

                        var name = document.createElement('td')
                        name.innerText = shifts[i].name

                        var select_list = document.createElement('option')
                        select_list.innerText = shifts[i].name
                        select_list.value = shifts[i].name
                        names_on_schedule.append(select_list)

                        var sunday = document.createElement('td')
                        sunday.innerText = shifts[i].sunday
                        sunday.id = 'Sunday' + shifts[i].name


                        var monday = document.createElement('td')
                        monday.innerText = shifts[i].monday
                        monday.id = 'Monday' + shifts[i].name

                        var tuesday = document.createElement('td')
                        tuesday.innerText = shifts[i].tuesday
                        tuesday.id = 'Tuesday' + shifts[i].name

                        var wednesday = document.createElement('td')
                        wednesday.innerText = shifts[i].wednesday
                        wednesday.id = 'Wednesday' + shifts[i].name

                        var thursday = document.createElement('td')
                        thursday.innerText = shifts[i].thursday
                        thursday.id = 'Thursday' + shifts[i].name

                        var friday = document.createElement('td')
                        friday.innerText = shifts[i].friday
                        friday.id = 'Friday' + shifts[i].name

                        var saturday = document.createElement('td')
                        saturday.innerText = shifts[i].saturday
                        saturday.id = 'Saturday' + shifts[i].name

                        var add = document.getElementById(i)
                        add.append(name, sunday, monday, tuesday, wednesday, thursday, friday, saturday)
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        };


        function schedules() {
            const nlist = document.getElementById("calendar")

            axios.get('/getWeeks').then(
                (result) => {

                    for (let i = 0; i < result.data.length; i++) {
                        var option = document.createElement('option')
                        option.innerText = result.data[i].week
                        option.value = result.data[i].week
                        nlist.append(option)
                    }
                    employees()
                }
            )
        }

        function finializeChanges() {
            let schedule = document.getElementById('Schedule').rows.length

            let shifts = []
            for (let i = 1; i < schedule; i++) {



                let new_shift = {
                    name: document.getElementById('Schedule').rows[i].cells.item(0).innerText,
                    sunday: document.getElementById('Schedule').rows[i].cells.item(1).innerText,
                    monday: document.getElementById('Schedule').rows[i].cells.item(2).innerText,
                    tuesday: document.getElementById('Schedule').rows[i].cells.item(3).innerText,
                    wednesday: document.getElementById('Schedule').rows[i].cells.item(4).innerText,
                    thursday: document.getElementById('Schedule').rows[i].cells.item(5).innerText,
                    friday: document.getElementById('Schedule').rows[i].cells.item(6).innerText,
                    saturday: document.getElementById('Schedule').rows[i].cells.item(7).innerText
                }

                shifts.push(new_shift)
            }


            axios.put('/editSchedule', shifts).then((res) => {
                if (res.status == 200) {
                    alert("Successfully Submitted Schedule")
                }
            }).catch((err) => {
                console.log(err)
            })
        }

        function edit() {
            let cur_name = document.getElementById('name').value
            let cur_day = document.getElementById('sday').value
            let lookup = cur_day + cur_name

            console.log(lookup)
            document.getElementById(lookup).innerText = document.getElementById('shift').value
        }

        function employees() {
            const nlist = document.getElementById("nameslist")

            axios.get('/getNames').then(
                (result) => {
                    for (let i = 0; i < result.data.length; i++) {
                        var option = document.createElement('option')
                        option.innerText = result.data[i].firstName
                        option.value = result.data[i].firstName
                        nlist.append(option)
                    }
                }
            )
        }

        function getAvailiblity() {
            clearshifts()
            const name = document.getElementById('nameslist').value
            axios.post('/getAvailability', { name: name }).then(
                (result) => {
                    console.log(result.data[0].availability)
                    if (result.data[0].availability.sunday != undefined) {
                        if (result.data[0].availability.sunday == 'allDay') {
                            var option = document.createElement('option')
                            option.innerText = "day"
                            option.value = "day"
                            option.id = "day"
                            option.className = "shift"
                            document.getElementById("sunday").append(option)
                            var option = document.createElement('option')
                            option.innerText = "night"
                            option.value = "night"
                            option.id = "night"
                            option.className = "shift"
                            document.getElementById("sunday").append(option)
                        }
                        else {
                            var option = document.createElement('option')
                            option.innerText = result.data[0].availability.sunday
                            option.value = result.data[0].availability.sunday
                            option.id = result.data[0].availability.sunday
                            option.className = "shift"
                            document.getElementById("sunday").append(option)
                        }
                    }

                    var option = document.createElement('option')
                    option.innerText = "No shift"
                    option.value = ""
                    option.className = "shift"
                    document.getElementById("sunday").append(option)


                    if (result.data[0].availability.monday != undefined) {

                        if (result.data[0].availability.monday == 'allDay') {
                            var option = document.createElement('option')
                            option.innerText = "day"
                            option.value = "day"
                            option.id = "day"
                            option.className = "shift"
                            document.getElementById("monday").append(option)
                            var option = document.createElement('option')
                            option.innerText = "night"
                            option.value = "night"
                            option.id = "night"
                            option.className = "shift"
                            document.getElementById("monday").append(option)
                        }
                        else {
                            var option = document.createElement('option')
                            option.innerText = result.data[0].availability.monday
                            option.value = result.data[0].availability.monday
                            option.id = result.data[0].availability.monday
                            option.className = "shift"
                            document.getElementById("monday").append(option)
                        }
                    }

                    var option = document.createElement('option')
                    option.innerText = "No shift"
                    option.value = ""
                    option.className = "shift"
                    document.getElementById("monday").append(option)


                    if (result.data[0].availability.tuesday != undefined) {
                        if (result.data[0].availability.tuesday == 'allDay') {
                            var option = document.createElement('option')
                            option.innerText = "day"
                            option.value = "day"
                            option.id = "day"
                            option.className = "shift"
                            document.getElementById("tuesday").append(option)
                            var option = document.createElement('option')
                            option.innerText = "night"
                            option.value = "night"
                            option.id = "night"
                            option.className = "shift"
                            document.getElementById("tuesday").append(option)
                        }
                        else {
                            var option = document.createElement('option')
                            option.innerText = result.data[0].availability.tuesday
                            option.value = result.data[0].availability.tuesday
                            option.id = result.data[0].availability.tuesday
                            option.className = "shift"
                            document.getElementById("tuesday").append(option)
                        }
                    }

                    var option = document.createElement('option')
                    option.innerText = "No shift"
                    option.value = ""
                    option.className = "shift"
                    document.getElementById("tuesday").append(option)


                    if (result.data[0].availability.wednesday != undefined) {
                        if (result.data[0].availability.wednesday == 'allDay') {
                            var option = document.createElement('option')
                            option.innerText = "day"
                            option.value = "day"
                            option.id = "day"
                            option.className = "shift"
                            document.getElementById("wednesday").append(option)
                            var option = document.createElement('option')
                            option.innerText = "night"
                            option.value = "night"
                            option.id = "night"
                            option.className = "shift"
                            document.getElementById("wednesday").append(option)
                        }
                        else {
                            var option = document.createElement('option')
                            option.innerText = result.data[0].availability.wednesday
                            option.value = result.data[0].availability.wednesday
                            option.id = result.data[0].availability.wednesday
                            option.className = "shift"
                            document.getElementById("wednesday").append(option)
                        }
                    }

                    var option = document.createElement('option')
                    option.innerText = "No shift"
                    option.value = ""
                    option.className = "shift"
                    document.getElementById("wednesday").append(option)


                    if (result.data[0].availability.thursday != undefined) {
                        if (result.data[0].availability.thursday == 'allDay') {
                            var option = document.createElement('option')
                            option.innerText = "day"
                            option.value = "day"
                            option.id = "day"
                            option.className = "shift"
                            document.getElementById("thursday").append(option)
                            var option = document.createElement('option')
                            option.innerText = "night"
                            option.value = "night"
                            option.id = "night"
                            option.className = "shift"
                            document.getElementById("thursday").append(option)
                        }
                        else {
                            var option = document.createElement('option')
                            option.innerText = result.data[0].availability.thursday
                            option.value = result.data[0].availability.thursday
                            option.id = result.data[0].availability.thursday
                            option.className = "shift"
                            document.getElementById("thursday").append(option)
                        }
                    }

                    var option = document.createElement('option')
                    option.innerText = "No shift"
                    option.value = ""
                    option.className = "shift"
                    document.getElementById("thursday").append(option)


                    if (result.data[0].availability.friday != undefined) {
                        if (result.data[0].availability.friday == 'allDay') {
                            var option = document.createElement('option')
                            option.innerText = "day"
                            option.value = "day"
                            option.id = "day"
                            option.className = "shift"
                            document.getElementById("friday").append(option)
                            var option = document.createElement('option')
                            option.innerText = "night"
                            option.value = "night"
                            option.id = "night"
                            option.className = "shift"
                            document.getElementById("friday").append(option)
                        }
                        else {
                            var option = document.createElement('option')
                            option.innerText = result.data[0].availability.friday
                            option.value = result.data[0].availability.friday
                            option.id = result.data[0].availability.friday
                            option.className = "shift"
                            document.getElementById("friday").append(option)
                        }
                    }

                    var option = document.createElement('option')
                    option.innerText = "No shift"
                    option.value = ""
                    option.className = "shift"
                    document.getElementById("friday").append(option)


                    if (result.data[0].availability.saturday != undefined) {
                        if (result.data[0].availability.saturday == 'allDay') {
                            var option = document.createElement('option')
                            option.innerText = "day"
                            option.value = "day"
                            option.id = "day"
                            option.className = "shift"
                            document.getElementById("saturday").append(option)
                            var option = document.createElement('option')
                            option.innerText = "night"
                            option.value = "night"
                            option.id = "night"
                            option.className = "shift"
                            document.getElementById("saturday").append(option)
                        }
                        else {
                            var option = document.createElement('option')
                            option.innerText = result.data[0].availability.saturday
                            option.value = result.data[0].availability.saturday
                            option.id = result.data[0].availability.saturday
                            option.className = "shift"
                            document.getElementById("saturday").append(option)
                        }
                    }

                    var option = document.createElement('option')
                    option.innerText = "No shift"
                    option.value = ""
                    option.className = "shift"
                    document.getElementById("saturday").append(option)

                }
            )
        }

        function clearshifts() {

            let selectbox1 = document.getElementById('sunday')
            var x;
            for (x = selectbox1.options.length - 1; x >= 0; x--) {
                selectbox1.remove(x);
            }

            let selectbox2 = document.getElementById('monday')
            var x1;
            for (x1 = selectbox2.options.length - 1; x1 >= 0; x1--) {
                selectbox2.remove(x1);
            }
            let selectbox3 = document.getElementById('tuesday')
            var x2;
            for (x2 = selectbox3.options.length - 1; x2 >= 0; x2--) {
                selectbox3.remove(x2);
            }
            let selectbox4 = document.getElementById('wednesday')
            var x3;
            for (x3 = selectbox4.options.length - 1; x3 >= 0; x3--) {
                selectbox4.remove(x3);
            }

            let selectbox5 = document.getElementById('thursday')
            var x4;
            for (x4 = selectbox5.options.length - 1; x4 >= 0; x4--) {
                selectbox5.remove(x4);
            }
            let selectbox6 = document.getElementById('friday')
            var x5;
            for (x5 = selectbox6.options.length - 1; x5 >= 0; x5--) {
                selectbox6.remove(x5);
            }
            let selectbox7 = document.getElementById('saturday')
            var x6;
            for (x6 = selectbox7.options.length - 1; x6 >= 0; x6--) {
                selectbox7.remove(x6);
            }
        }
    </script>

</body>

</html>