<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request TimeOff</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Custom CSS link -->
    <link rel="stylesheet" type="text/css" href="/css/requestTimeoff.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2" type="button" data-bs-toggle="collapse"
                data-bs-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active ">
                        <a class="nav-link" href="http://localhost:8080/employee/home/<%= id %>"><i class="fa fa-house icon"></i> Home</a>
                    </li>
                    <li class="nav-item active ">
                        <a class="nav-link" href="http://localhost:8080/employee/viewSchedule/<%= id %>"><i class="fa fa-eye icon"></i> View Schedule</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="http://localhost:8080/employee/availableShifts/<%= id %>"><i class="fas fa-arrow-right-arrow-left icon"></i> Available Shifts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/employee/changeAvailability/<%= id %>"><i class="fa-solid fa-pen-to-square icon"></i> Change
                            Availability</a>
                    </li>
                    <li class="nav-item current">
                        <a class="nav-link" href="http://localhost:8080/employee/requestTimeoff/<%= id %>"><i class="fa-solid fa-calendar-minus icon"></i> Request TimeOff</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse w-25 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto buttons">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/employee/edit/<%= id %>">
                            <button class="btn btn-sm btn-primary prof-btn" type="submit">My Profile</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form id="logoutform" method="post" action="/logout"></form>
                             <a class="nav-link" >   
                                 <button class="btn btn-sm btn-primary log-btn" type="submit" form="logoutform">Log Out</button>
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="content">
        <h1>Time off Request</h1>

        <label for="input">Select the day you want off</label>
        <input type="date" id="date">
        <button onclick="submitRequest()">Submit</button>
        <br>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <!-- Link for using Axios to send requests -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>


<script>
    function submitRequest(){

    let currentId = '<%- id %>';
    
    let date_schedule = new Date(document.getElementById("date").value + 'T00:00:00')

    axios.post('/createTimeoff', {date: date_schedule, id: currentId}).then(
        (result) =>{
            if(result.status == 208){
            alert("There exists a request for that day already!")
            }
            else if (result.status == 200){
            alert("Successfully Submitted Time off Request")
            }
        }
    ).catch(
        (err) =>{
         alert("There exists a request for that day already!")
        }
        
    )
    
    
}
</script>
</html>